body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: rgb(251, 251, 231);
}

a {
    text-decoration: none;
    color: rgb(31, 72, 19);
}

ul {
    padding: 0;
}

img {
    width: 500px;
    height: 510px;
    align-items: center;
    margin-top: 105px;
    margin-left: 0;
}

#home {
    font-size: xx-large;
    color: darkgoldenrod;
}

.headercontainer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(220, 250, 215);
    
}

li {
    list-style: none;
}

.menurow {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5em;
}

.herocontainer {
    display: flex;
    flex-direction: row;
}

.heromain {
    justify-content: flex-start;
}

a:hover {
    text-decoration: underline;
}

.headtext {
    margin-top: 250px;
    text-justify:newspaper ;
    font-size: x-large;
    background-color:  rgb(25, 59, 45);
    padding-left: 100px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

h1{
    font-weight: 700;
}


.skills-items{
    display: grid;
    grid-template-columns: repeat(2);
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;

}
select {
    margin-bottom: 30px;
    padding: 10px 0;
    color: black;
    outline: none;
    background: transparent;
    border: 2px solid black;
    width: 50%;
    cursor: pointer;
}


form {
    width: 100%;
    max-width: 600px;

}

.input-group {
    margin-bottom: 30px;
    position: relative;
}

input,textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 2px solid black;
    color: black;
    background: transparent;
    font-size: 15px;
}
label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text ;
    transition: 0.2s;
}

input:focus~label,
input:valid~label ,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

footer{
    margin-top: 30px;
    background-color: rgb(12, 124, 87);
    padding-top: 2%;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

#social-icons{
    width: 200px;
    font-size: xx-large;
    transition: 0.2s;
   
}
#social-icons:hover {
    color: black;
}
