body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background: linear-gradient(100deg,rgb(156, 121, 121),rgb(105, 43, 43)58.79%);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
}

img {
    width: 500px;
    height: 510px;
    align-items: center;
    margin-top: 105px;
    margin-left: 0;
}

.headercontainer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(250, 235, 215);
    
}

li {
    list-style: none;
}

.menurow {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5em;
}

.herocontainer {
    display: flex;
    flex-direction: row;
}

.heromain {
    justify-content: flex-start;
}

a:hover {
    text-decoration: underline;
}

.headtext {
    margin-top: 250px;
    text-justify:newspaper ;
    font-size: x-large;
    background-color:  rgb(250, 235, 215);
    padding-left: 100px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

h1{
    font-weight: 700;
}

.contentcontainer {
    background: linear-gradient(100deg, rgb(236, 133, 81),);
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;

}
select {
    margin-bottom: 30px;
    padding: 10px 0;
    color: black;
    outline: none;
    background: transparent;
    border: 2px solid black;
    width: 50%;
    cursor: pointer;
}


form {
    width: 100%;
    max-width: 600px;

}

.input-group {
    margin-bottom: 30px;
    position: relative;
}

input,textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 2px solid black;
    color: black;
    background: transparent;
    font-size: 15px;
}
label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text ;
    transition: 0.2s;
}

input:focus~label,
input:valid~label ,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}
footer{
    background-image:linear-gradient(rgba(0,0,0,0.7),#c7cf33 ) , url(/images/softwaredevelopment.webp);
      
}