body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: rgb(251, 251, 231);
}

a {
    text-decoration: none;
    color: rgb(20, 47, 12);
}

ul {
    padding: 0;
}

img {
    width: 500px;
    height: 510px;
    align-items: center;
    margin-top: 105px;
    margin-left: 0;
}

#home {
    color: darkgoldenrod;
}

.headercontainer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(220, 250, 215);
    
}

li {
    list-style: none;
}

.menurow {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5em;
}

.herocontainer {
    display: flex;
    flex-direction: row;
}

.heromain {
    justify-content: flex-start;
}

a:hover {
    text-decoration: underline;
}

.headtext {
    margin-top: 250px;
    text-justify:newspaper ;
    font-size: x-large;
    background-color:  rgb(15, 37, 28);
    padding-left: 100px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.my-name {
    font-size: xx-large;
    color: darkgoldenrod;
}

h1{
    font-weight: 700;
}



.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

select {
    margin-bottom: 30px;
    padding: 10px 0;
    color: black;
    outline: none;
    background: transparent;
    border: 2px solid black;
    width: 50%;
    cursor: pointer;
}


form {
    width: 100%;
    max-width: 600px;

}

.input-group {
    margin-bottom: 30px;
    position: relative;
}

input,textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 2px solid black;
    color: black;
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text ;
    transition: 0.2s;
}

input:focus~label,
input:valid~label ,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

footer{
    margin-top: 30px;
    background-color: rgb(2, 143, 96);
    padding-top: 2%;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

#social-icons{
    width: 200px;
    font-size: xx-large;
   
}

i:hover {
    color: black;
}

.education {
    padding: 50px;
    margin: 10%;
}

.experience {
    padding: 50px;
    margin: 10%;
}

.skills{
    padding: 50px;
    margin: 10%;
   
}
.skill-item {
    justify-content:end;
    text-align:right;
}

.skill-item2 {
    justify-content: start;
    text-align: left;

}

.skill-container {
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px
}

.other-skills {
    display: flex;
    flex-direction: row;
}
.items {
    justify-content: center;
    margin-top: 50px;
    gap: 0;
}


/*deives smaller than 600px*/
@media screen and (min-width:300px) {
    body {
        font-size: 10px;
        background-color:  rgb(165, 165, 153);
    }
    img{
        width: 150px;
        height: 160px
    }
    form {
        
    }

    
}

/*small devices (potrait tablets and large phones,600px and up)*/
@media screen and (min-width: 600px){
    body {
        font-size: 15px;
        background-color:  rgb(189, 189, 175);
    }
    img {
        width: 200px;
        height: 210px;
    }
    form {
        width: 20%;
    }

}

/*medium devices (landscape tablets, 768px and up)*/
@media screen and (min-width: 768px) {
    body {
        font-size: 20px;
        background-color:  rgb(188, 188, 160);
    }
    img{
        width: 300px;
        height: 310px;
    }
    form{
        width: 50%;
    }

}

/*large devices (laptops/desktops, 992px and up)*/
@media screen and (min-width: 992px) {
    body {
        font-size: 22px;
        background-color: rgb(251, 251, 231);
    }

    img {
        width: 500;
        height: 510px;
    }
    form {
        width:100%
    }
}